
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
}

p {
    line-height: 1.6;
}

.input-box {
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.reg_log-heading {
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
}

input.btn {
    outline: none;
    border: none;
    margin: 16px 0;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 10px 10px 10px;
    background: none;
    outline: none;
    border: 1px solid rgb(141, 140, 140);
    font-size: 18px;
    z-index: 2;
    margin-bottom: 16px;
}

label {
    padding: 5px 0;
}

.hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(194, 190, 190, 0.158) 100%), url("https://images.pexels.com/photos/5847564/pexels-photo-5847564.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 0.3s all ease;
}

.form-box {
    height: auto;
    width: 450px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    padding: 24px 36px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.heading {
    font-size: 24px;
    text-align: center;
    color:#ff105f;
    padding: 16px 0 30px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper p {
    text-align: center;
}

.input-wrapper a {
    text-decoration: underline;
    color:#ff105f;
}

