:root {
    --theme-color: #ff385c;
    --white: #fff; 
    --black: #333;
    --font1: 'Poppins', sans-serif;
    --font2: 'Cairo', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

i {
    margin: 0 8px;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.btn {
    background: var(--theme-color);
    color: var(--white);
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 6px;
    transition: 0.1s all ease-out;
}

.btn:hover {
    background: #f8163f;
    scale: 1.01;
}

.container {
    max-width: 67.5rem;
    margin: 0 auto;
    padding: 0 1.25rem 0;
    overflow: hidden;
}

.heading {
    font-size: 2.625rem;
    white-space: nowrap;
    font-weight: 700;
    padding: 20px 0 0;
}

.tagline {
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 0 30px;
}

nav {
    background: var(--white);
    height: 4.375rem;
}

.logo {
    color: var(--theme-color);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu li a {
    margin-left: 20px;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
}

header {
    height: 37.5rem;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(194, 190, 190, 0.158) 100%), url("https://images.pexels.com/photos/5847564/pexels-photo-5847564.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 32px;
}

header .container {
    height: 100%;
    position: relative;
}

.banner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
}

.card {
    background: var(--white);
    border-radius: 1rem;
    height: auto;
}

.option-div {
    border-bottom: 1px solid  #ff385d6c;
    display: flex;
    justify-content: center;
}

.option-div .tab {
    height: 48px;
    padding: 12px 16px;
    margin-bottom: 3px;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    font-family: var(--font2);
}

.tab[data-state='active'] {
    font-weight: 700;
    border-bottom: 2px solid var(--theme-color);  
}

.tab:hover {
    font-weight: 700;
}

.search-div {
    padding: 16px 0;
}

.search-input-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    flex-wrap: nowrap;
}

.search-input-wrapper input {
    padding: 12px;
    height: 48px;
    flex-basis: 87%;
    border: none;
    font-size: 1rem;
    margin-right: 12px;
    outline: none;
}

.search-input-wrapper input:active,
.search-input-wrapper input:hover {
    border: 1px solid #333;
}

.icon-search-text-wrapper {
    display: flex;
}


/* ****************************************************  REGISTER SECTION ************************************************************************************ */









/* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%),url(https://images.ctfassets.net/02vwvgr6spsr/5WctlhuvpfLjdmQ1wEpmQG/dba0cf1…/campaign-housefront__1_.jpeg?w=1350&fm=webp&q=75&); */